.welcome-body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/v870-tang-36.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.nav {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.nav-home {
    font-size: 4rem;
}

.nav-links {
    font-size: 1.5rem;
}

.nav-text {
    text-decoration: none;
    color: white;
}

.nav-button {
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
}

.login-btn {
    border: 1px solid #01ffff;
    color: #01ffff;
}

.login-btn:hover {
    background-color: #01ffff;
    color: white;
    transition-duration: 1s;
}

.reg-btn {
    background-color: #00dada;
    color: white;
}

.reg-btn:hover {
    background-color: #01ffff;
    color: white;
    transition-duration: 1s;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    color: white;
}

.welcome-content>h1 {
    font-size: 5rem;
}

.welcome-content>p {
    margin-bottom: 50px;
}

.welcome-button {
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
    height: 22px;
    width: 200px;
    border: none;
    background-color: #00dada;
    color: white;
}

.welcome-btn:hover {
    background-color: #01ffff;
    color: white;
    transition-duration: 1s;
}

.custom-center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.row-spacebetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editform {
    background-color: #f0f0f0;
    margin-top: 30%;
    margin-left: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 3);
    padding: 30px;
}

.editform h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.editform h2 {
    padding: 4px;
}

.editform p {
    font-size: 20px;
    margin: 15px 0;
}

#btn {
    background-color: green;
    border-style: solid;
    border-width: 2%;
    border-color: black;
    border-radius: 10px;
    width: 120px;

}